*{
    padding: 0;
    margin: 0;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(49, 146, 166,.7) , rgba(49, 146, 166,.7) ) ,
    url(../images/mountains.jpg);
   background-position: center;
   background-size: cover;
}
.navbar{
    /* border-bottom:  solid 5px #3192a6; */
    box-shadow: 0 5px 10px #152f35;
}
.nav-link{
    font-size: 1.4rem;margin-left: 20px;
}

#authors{
    margin-top: -70px;
} 